node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.git
.gitignore
.DS_Store
coverage
.eslintcache
.env
.env.*
.tmp
.tmp*
Dockerfile
**/*.md
**/*.spec.ts
**/*.e2e-spec.ts
dist
